html{
    background-color: rgb(0, 225, 255);
    font-family: 'Helvetica', 'sans-serif';
    font-size: 1rem
}
header{
    background-color: #1698e4;
    z-index:999;
    width: 100%;
    position:fixed;
        top:0;
        left:0;
        right:0;
    padding-bottom: 0.4em; 

}
fieldset{
    border-radius: 0.7em;
    border-color: #f5f4f2;
    border-width: 1em;
    padding:1em;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}



.leftside {
    width:60%;
    position: absolute;
    top: 15%;
}

.rightside {
    position: absolute;
    left: 70%;
    top: 15%;
    width: 30%; 
}

footer {
    font-size: small;
    position: absolute;
    bottom: 2%;
    right: 2%;
}

#trash :hover {
    color: red;
}
