body{
    background-color: rosybrown;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(54, 26, 31);
}

header{
    text-align: center;
    font-size: 1.2em;
    color:rgb(109, 8, 17);
}

h2{
    text-align: center;
}

h3{
    margin-top: 3em;
    margin-left: 5em;

}
div#rocketlist{
    background-color: rgb(173, 50, 71);
    border: solid;
    width: 20em;
    height: 30em;
}
form{
    height: max-content;
    width: 420px;
    border: solid;
    margin-left: 20px;
    background-color: rgb(173, 50, 71);
    right: 10px;
        }



button{
    margin-top: 1em;
    background-color:thistle;
    float: left;
    width: auto;
    cursor: pinter;
}

button:hover{
    opacity: 0.4;
}

canvas{
    margin-top: -62em;
    position:relative;
    float: right;
    border:solid;
}
