body {
    background-color: darkgreen
}
body>div {
    border: solid black;
    font-size: 20px;
    width: 240px;
    height: 400px;
    position: absolute;
    bottom: 40px;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 300px;
    
}

main>div {
    width: 100px;
    height: 200px;
    margin: 1rem;
    color: white;
    font-size: 1.5rem;
}

#Stapel {
    background-color: rgb(23, 25, 136);
    width: 100px;
    position: absolute;
    top: 1em;
    height: 200px;
    border: solid rgb(255, 255, 255);
}

#Ablage {
    background-color: rgb(117, 26, 10);
    position: absolute;
    right: 2em;
    top: 1em;
    width: 100px;
    height: 200px;
    border: solid white;
}

.Herz {
    background-color: red;
    color: white;
}

.Pik {
    background-color: black;
    color: white;
}

.Karo {
    background-color: red;
    color: white;
}

.Kreuz {
    background-color: black;
    color: white;
}

button {
    position: absolute;
    right: 10em;
    top: 10em;
}

.pile {
    position: absolute;
    top: 0em;
    width: 100px;
    height: 200px;
}